# SERVER PORT
PORT=3000

# SPOTIFY 
SPOTIFY_CLIENT_ID = spotify_client_id
SPOTIFY_CLIENT_SECRET = spotify_client_secret

#GAMEBRAIN
GB_API_KEY = your_gb_api_key_here

# JWT
# run this to generate: node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=INSERT_JWT_SECRET_HERE

# PostgreSQL 
# if you're using docker-compose these defaults should work.
# if you have a local Postgres install, adjust to match your setup.
PGHOST=localhost
PGPORT=5432
PGDATABASE=ilkda
PGUSER=ilkda_user
PGPASSWORD=ilkda_pass

# TMDB
TMDB_API_KEY = your_tmdb_api_key_here
